src/conf/xml-resources/web-service-references/APCBPaymentsHandrerServices/wsdl/localhost_8080/APCB_PaymentsHandrer/APCBPaymentsHandrerServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.paymentsHandler.apcb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.paymentsHandler.apcb.com/" name="APCBPaymentsHandrerServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.paymentsHandler.apcb.com/" schemaLocation="http://localhost:8080/APCB_PaymentsHandrer/APCBPaymentsHandrerServices?xsd=1" />
</xsd:schema>
</types>
<message name="consultPay">
<part name="parameters" element="tns:consultPay" />
</message>
<message name="consultPayResponse">
<part name="parameters" element="tns:consultPayResponse" />
</message>
<message name="createPay">
<part name="parameters" element="tns:createPay" />
</message>
<message name="createPayResponse">
<part name="parameters" element="tns:createPayResponse" />
</message>
<message name="completePay">
<part name="parameters" element="tns:completePay" />
</message>
<message name="completePayResponse">
<part name="parameters" element="tns:completePayResponse" />
</message>
<message name="annularPay">
<part name="parameters" element="tns:annularPay" />
</message>
<message name="annularPayResponse">
<part name="parameters" element="tns:annularPayResponse" />
</message>
<portType name="APCBPaymentsHandrerServices">
<operation name="consultPay">
<input wsam:Action="http://services.paymentsHandler.apcb.com/APCBPaymentsHandrerServices/consultPayRequest" message="tns:consultPay" />
<output wsam:Action="http://services.paymentsHandler.apcb.com/APCBPaymentsHandrerServices/consultPayResponse" message="tns:consultPayResponse" />
</operation>
<operation name="createPay">
<input wsam:Action="http://services.paymentsHandler.apcb.com/APCBPaymentsHandrerServices/createPayRequest" message="tns:createPay" />
<output wsam:Action="http://services.paymentsHandler.apcb.com/APCBPaymentsHandrerServices/createPayResponse" message="tns:createPayResponse" />
</operation>
<operation name="completePay">
<input wsam:Action="http://services.paymentsHandler.apcb.com/APCBPaymentsHandrerServices/completePayRequest" message="tns:completePay" />
<output wsam:Action="http://services.paymentsHandler.apcb.com/APCBPaymentsHandrerServices/completePayResponse" message="tns:completePayResponse" />
</operation>
<operation name="annularPay">
<input wsam:Action="http://services.paymentsHandler.apcb.com/APCBPaymentsHandrerServices/annularPayRequest" message="tns:annularPay" />
<output wsam:Action="http://services.paymentsHandler.apcb.com/APCBPaymentsHandrerServices/annularPayResponse" message="tns:annularPayResponse" />
</operation>
</portType>
<binding name="APCBPaymentsHandrerServicesPortBinding" type="tns:APCBPaymentsHandrerServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="consultPay">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createPay">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="completePay">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="annularPay">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="APCBPaymentsHandrerServices">
<port name="APCBPaymentsHandrerServicesPort" binding="tns:APCBPaymentsHandrerServicesPortBinding">
<soap:address location="http://localhost:8080/APCB_PaymentsHandrer/APCBPaymentsHandrerServices" />
</port>
</service>
</definitions>